.boxForm {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.boxForm .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
}

.form .button {
  width: 50%;
}
